/* nav styles */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 30px;
}
.nav-title{
    font-weight: bold;
    font-size: 32;
    color: #0E0E0E;
}
nav ul li{
    list-style: none;
}
.button{
    background-color: white;
    color:#006A50;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18;
}
    
  /* banner styles    */
  .banner{
    display: flex;
    justify-content: space-between;
    margin:20px 160px 50px 160px ;
    background-color: #C6E4D6;
    max-width: 1280px;
  }
  .banner-content{
    width: 620px;
    height: 320;
    margin: 117px 0px 117px 60px;
  }
  .banner-title{
    color:rgba(14, 14, 14, 0.5);
    font-weight: 600;
    font-size: 24;
  }
  .banner-description{
    font-weight: bold;
    font-size: 56;
    color: black;
  }
  .btn-primary{
    background-color: #006A50;
    color: white;
    font-weight: 400;
    font-size: 18;
    border-radius: 5px;
    padding: 17px 34px;
  }
  .banner-pic{
    width: 475px;
    height: 400px;
    margin: 80px 60px 50px 64px;
  }

  /* vision of future styles */
  .section-title{
    font-weight: bold;
    font-size: 40;
    color: #0E0E0E;
  }
  .section-description{
    font-size: 16;
    color: rgba(14, 14, 14, 0.7);
  }
  .vision-container{
    display: flex;
    gap: 24px;
  }
  .future-vision{
    padding: 120px 32px 97px 32px;
    width: 410px;
    height: 300px;
    border-radius: 16px;
  }
  .vision{
    margin: 80px 160px 80px 160px;
    max-width: 1280px;
  }
  .box-1{
    background-color:rgba(84, 144, 245, 0.2);
  }
  .box-2{
    background-color: #C6E4D6;
  }
  .box-3{
    background-color: #F7EBCF;
  }
  .btn-1{
    background-color: #5490F5;
  }
  .btn-2{
   background-color: #09A15C;
  }
  .btn-3{
    background-color: #FFC239;
  }
  .vision-btn{
    color: white;
    border-radius: 5px;
    border: none;
    padding: 11px 20px;
  }
  
  
  