/* nav styles */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 30px;
}
.nav-title{
    font-weight: bold;
    font-size: 32;
    color: #0E0E0E;
}
nav ul li{
    list-style: none;
}
.button{
    background-color: white;
    color:#006A50;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18;
}
    
  /* banner styles    */
  .banner{
    display: flex;
    justify-content: space-between;
    margin:20px 160px 50px 160px ;
    background-color: #C6E4D6;
  }
  .banner-content{
    width: 620px;
    height: 320;
    margin: 117px 0px 117px 60px;
  }
  .banner-title{
    color:rgba(14, 14, 14, 0.5);
    font-weight: 600;
    font-size: 24;
  }
  .banner-description{
    font-weight: bold;
    font-size: 56;
    color: black;
  }
  .btn-primary{
    background-color: #006A50;
    color: white;
    font-weight: 400;
    font-size: 18;
    border-radius: 5px;
    padding: 17px 34px;
  }
  .banner-pic{
    width: 475px;
    height: 400px;
    margin: 80px 60px 50px 64px;
  }
  